@model EventStore.ReadModel.UserDto
@{
    ViewBag.Title = "Index";
}

<h2>Login</h2>

<form method="post" action="">
	@Html.HiddenFor(m => m.AggregateRootId)
	@Html.TextBoxFor(m => m.Login)
	@Html.PasswordFor(m => m.Login)

	<input type="submit" value="Create" />
</form>